<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ManagerLoginActivity"
            android:label="@string/title_activity_manager_login"
            android:parentActivityName=".activities.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eventmanager.activities.StartActivity" />
        </activity>
        <activity
            android:name=".activities.GuestActivity"
            android:label="@string/title_activity_guest" />
        <activity
            android:name=".activities.ManagerActivity"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>